.description {
  font-family: monospace;
  margin-top: 3rem;
  text-align: center;
}

.description h1 {
  font-size: 32px;
  color: #204f4e;
}

.description p {
  font-size: 16px;
}

.types {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}
