.root {
  font-family: monospace;
  margin-top: 4rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.root h1 {
  text-align: center;
  color: #204f4e;
  font-size: 32px;
}

.styled-rule {
    border: 0;
    height: 2px;
    background-color: #f2ba5f; 
    margin: 0px 10rem 30px;
  }

.paragraph {
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
}

.top-section,
.bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  /* padding: 1rem; */
}

.top-section h3,
.bottom-section h3 {
  color: #204f4e;
  font-size: 24px;
  margin-bottom: 1rem;
}

.top-section p,
.bottom-section p {
  font-size: 16px;
}
