* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
}

.logo {
    height: 80px;
    width: 80px;
    background-image: url('../../../public/assets/new-logo.png');
    background-size: cover;
    margin-right: auto;
    margin-left: 3rem;
}

.login {
    margin-left: auto;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 1rem 1.5rem;
}