.btn {
    margin-top: 2rem;
}

.sub-btn {
    padding: 1rem 1.5rem;
}

.card-style-login {
    position: absolute;
    text-align: center;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding-top: 80px; 
    width: 350px; 
    height: 350px;
    color: #204f4e;
    border: 5px solid #f2ba5f;
}